[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=vision_tools
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Vision Tools
Comment=Tools and filters which use Vision Neural Networks